.mapContainer {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}

.mapElement {
  width: 100%;
  height: 100%;
  flex: 1;
}

.loadingText {
  text-align: center;
}

.mobileStatusBoardWrapper {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  pointer-events: none;
}

.myLocationButtonWrapper {
  position: fixed;
  bottom: 340px;
  right: 1rem;
  z-index: 1000;
  pointer-events: auto;
}
