#############################
#  NETWORKS & VOLUMES
#############################
networks:
  topoom-scheduling-network:
    driver: bridge
    name: topoom-scheduling-network

#############################
#  SERVICES
#############################
