.statusBoard {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 36px 24px 24px;
  border-bottom: 1px solid #2B3A55;
}

.header {
  display: flex;
  align-items: center;
}

.dateSection {
  display: flex;
  align-items: center;
}

.dataContainer {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 8px;
}

.dataItem {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex: 1;
}
